ORIGIN=https://dupliclean.vercel.app
COMPLETE_URL=https://dupliclean.vercel.app/api/complete
ADMIN_PANEL_URL=https://dupliclean.vercel.app/admin/
OAUTH_CLIENT_ID=github_oauth_client_id
OAUTH_CLIENT_SECRET=github_oauth_client_secret
